@import "tailwindcss";
@import "tw-animate-css";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

body {
  --font-instrument-sans: 'Instrument Sans Variable', sans-serif;
  font-family: var(--font-instrument-sans);
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(78.00% 0.1600 170.09);
  --accent-foreground: oklch(15% 0.0300 170.09);
  --background: oklch(97.02% 0.0000 170.09);
  --border: oklch(90.00% 0.0000 170.09);
  --danger: oklch(65.32% 0.2328 15.69);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0000 170.09);
  --default-foreground: oklch(21.03% 0.0059 170.09);
  --field-background: oklch(100.00% 0.0000 170.09);
  --field-foreground: oklch(21.03% 0.0000 170.09);
  --field-placeholder: oklch(55.17% 0.0000 170.09);
  --focus: oklch(78.00% 0.1600 170.09);
  --foreground: oklch(21.03% 0.0000 170.09);
  --muted: oklch(55.17% 0.0000 170.09);
  --overlay: oklch(100.00% 0.0000 170.09);
  --overlay-foreground: oklch(21.03% 0.0000 170.09);
  --scrollbar: oklch(87.10% 0.0000 170.09);
  --segment: oklch(100.00% 0.0000 170.09);
  --segment-foreground: oklch(21.03% 0.0000 170.09);
  --separator: oklch(92.00% 0.0000 170.09);
  --success: oklch(73.29% 0.1935 140.76);
  --success-foreground: oklch(21.03% 0.0059 140.76);
  --surface: oklch(100.00% 0.0000 170.09);
  --surface-foreground: oklch(21.03% 0.0000 170.09);
  --surface-secondary: oklch(95.24% 0.0000 170.09);
  --surface-secondary-foreground: oklch(21.03% 0.0000 170.09);
  --surface-tertiary: oklch(93.73% 0.0000 170.09);
  --surface-tertiary-foreground: oklch(21.03% 0.0000 170.09);
  --warning: oklch(78.19% 0.1585 62.28);
  --warning-foreground: oklch(21.03% 0.0059 62.28);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Instrument Sans font in your app */
  --font-sans: var(--font-instrument-sans);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(78.00% 0.1600 170.09);
  --accent-foreground: oklch(15% 0.0300 170.09);
  --background: oklch(12.00% 0.0000 170.09);
  --border: oklch(28.00% 0.0000 170.09);
  --danger: oklch(59.40% 0.1967 14.58);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 170.09);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 170.09);
  --field-foreground: oklch(99.11% 0.0000 170.09);
  --field-placeholder: oklch(70.50% 0.0000 170.09);
  --focus: oklch(78.00% 0.1600 170.09);
  --foreground: oklch(99.11% 0.0000 170.09);
  --muted: oklch(70.50% 0.0000 170.09);
  --overlay: oklch(21.03% 0.0000 170.09);
  --overlay-foreground: oklch(99.11% 0.0000 170.09);
  --scrollbar: oklch(70.50% 0.0000 170.09);
  --segment: oklch(39.64% 0.0000 170.09);
  --segment-foreground: oklch(99.11% 0.0000 170.09);
  --separator: oklch(25.00% 0.0000 170.09);
  --success: oklch(73.29% 0.1935 140.76);
  --success-foreground: oklch(21.03% 0.0059 140.76);
  --surface: oklch(21.03% 0.0000 170.09);
  --surface-foreground: oklch(99.11% 0.0000 170.09);
  --surface-secondary: oklch(25.70% 0.0000 170.09);
  --surface-secondary-foreground: oklch(99.11% 0.0000 170.09);
  --surface-tertiary: oklch(27.21% 0.0000 170.09);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 170.09);
  --warning: oklch(82.03% 0.1388 66.29);
  --warning-foreground: oklch(21.03% 0.0059 66.29);
}


/* WebKit browsers (Chrome, Edge, Safari) */
.no-scrollbar-track::-webkit-scrollbar {
  width: 8px;
}

.no-scrollbar-track::-webkit-scrollbar-track {
  background: transparent;
}

.no-scrollbar-track::-webkit-scrollbar-thumb {
  /* background-color: var(--accent); */
  /* change color */
  border-radius: 9999px;
}

/* Firefox */
.no-scrollbar-track {
  scrollbar-width: thin;
  /* scrollbar-color: var(--accent) transparent; */
}